# Total Number of Words in Yelp Reviews Datasets

The purpose of this notebook is to calculate the total number of words in the corpus to figure out how many weights a neural network would need to solve for to produce word vectors with 300 components/features.

### yelp_reviews_v2.csv

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("yelp_reviews_v2.csv")
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head(5)

,date,review,rating,isEdited,userName,title,developerResponse
0,2024-11-22 22:44:23,I say it can be fantastic because some people ...,5,False,Robg80,Yelp can be fantastic,NaN
1,2024-12-12 22:08:33,Yelp's developers have been spamming false 5-s...,1,False,itsbad):,Review botting should not be tolerated!,NaN
2,2024-10-11 18:43:56,I will not be using Yelp ever again. After a t...,1,False,jennausuwiajdneka,Horrible,NaN
3,2024-09-22 20:35:32,During think tank meetings with other business...,1,False,Srepman,Is yelp fair?,"{'id': 46973211, 'body': 'Thank you for taking..."
4,2024-12-13 03:52:13,If I could give this place a 0 star I absolute...,1,False,Tsimmons96,Horrible service,NaN

In [6]:
df['wordCount'] = df['review'].apply(lambda x: len(x.split(' ')))
df.head(5)

,date,review,rating,isEdited,userName,title,developerResponse,wordCount
0,2024-11-22 22:44:23,I say it can be fantastic because some people ...,5,False,Robg80,Yelp can be fantastic,NaN,143
1,2024-12-12 22:08:33,Yelp's developers have been spamming false 5-s...,1,False,itsbad):,Review botting should not be tolerated!,NaN,226
2,2024-10-11 18:43:56,I will not be using Yelp ever again. After a t...,1,False,jennausuwiajdneka,Horrible,NaN,208
3,2024-09-22 20:35:32,During think tank meetings with other business...,1,False,Srepman,Is yelp fair?,"{'id': 46973211, 'body': 'Thank you for taking...",200
4,2024-12-13 03:52:13,If I could give this place a 0 star I absolute...,1,False,Tsimmons96,Horrible service,NaN,207

In [7]:
total_words = np.sum(df['wordCount'])
print(f'Total words is: {total_words}')

Total words is: 571968

### yelp_reviews_v3.csv

In [9]:
df = pd.read_csv('yelp_reviews_v3.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)
df['wordCount'] = df['review'].apply(lambda x: len(x.split(' ')))
total_words = np.sum(df['wordCount'])
print(f'Total words is: {total_words}')

Total words is: 1428660